.content-login{
    display: grid;
    grid-template-columns: 50% 50%;
    background: url(img/BonjourCoffee_Banner_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.col-left{
    text-align: center;
    padding: 40% 1%;
    color: white;
}
.col-left h2 {
    font-size: 30px;
}
.col-left p{
    padding: 2%;
}
.container-login{
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 0 10%;
    padding:0 5% 5% 5%;
    background: none;
}
.wrap{
    margin: 10px;
}
.username{
    padding-top: 10%;
}
.resp>input,.resp>button{
    font-size: 14px;
    width: 100%;
    height: 50px;
    padding: 8px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    border-radius: 6px;
}
.resp>button{
    cursor: pointer;
    color: white;
    border: none;
}
.btn-login{
    background-color:#42b72a;  
}
.btn-login:hover{
    background-color: #2cb012;
}
.forgetpass>a{
    color: #12620B;
}
.forgetpass>a:hover{
    text-decoration: underline;
}
.btn-create{
    width: 60% !important;
    background-color: #1877f2;
}
.btn-create:hover{
    background-color: #1665cd;
}
#check{
    color: red;
    font-size: 12px;
}